<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Método Simplex</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/src/simplex.css">
</head>
<body>
<br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Calculadora método simplex</h1>
        <p class="lead">Esta calculadora te permitira resolver problemas de optimización por el metodo simplex pero
            además
            explicarte el paso a paso </p>
    </div>
    <div class="jumbotron">
        <p class="lead">Recolectando datos</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm">
                <p>Ingresa la cantidad de variables</p>
                <div class="input-group mb-3">
                    <input id="amountVariables" type="text" class="form-control" placeholder=""
                           aria-label=""
                           aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-sm">
                <p>Ingresa la cantidad de funciones restricción</p>
                <div class="input-group mb-3">
                    <input id="amountRestrictions" type="text" class="form-control" placeholder=""
                           aria-label=""
                           aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group-append">
                    <button class="btn  btn-success m-auto" type="button" id="nextBtn1">Continuar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="dataInitial" class="jumbotron">
        <p class="lead">Organizando información</p>
        <hr class="my-4">
    </div>
    <div id="doingData" class="jumbotron hidden">
    </div>

</div>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script src="../../static/js/src/simplex.js"></script>
</body>
</html>
