<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/src/simplex.css') }}">
    <title>SimplexCalc - Optimización</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">SimplexCalc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse float-right" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Recolectando datos</h5>
                        <div id="simplex_data">
                            <div class="form-group">
                                <label for="amount_variables">Ingresa la cantidad de variables</label>
                                <input type="text" class="form-control" name="amount_variables" id="amount_variables">
                            </div>
                            <div class="form-group">
                                <label for="amount_restrictions">Ingresa la cantidad de funciones restricción</label>
                                <input type="text" class="form-control" name="amount_restrictions"
                                       id="amount_restrictions">
                            </div>
                            <button type="button" id="next-1"
                                    class="btn btn-outline-success rounded-pill m-auto d-block px-4">
                                Continuar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Organizando la información</h5>
                        <p class="card-text">Ingrese los coeficientes de la función objetivo</p>
                        <div id="coefficient-div" class="input-group">
                            {#<input type="text" class="form-control" name="coefficient-0" id="coefficient-0">
                            <label for="coefficient-0" class="mx-1">X<sub>1</sub> +</label>
                            <input type="text" class="form-control" name="coefficient-1" id="coefficient-1">
                            <label for="coefficient-1" class="mx-1">X<sub>2</sub> +</label>
                            <input type="text" class="form-control" name="coefficient-2" id="coefficient-2">
                            <label for="coefficient-2" class="mx-1">X<sub>3</sub> +</label>
                            <input type="text" class="form-control" name="coefficient-3" id="coefficient-3">
                            <label for="coefficient-3" class="mx-1">X<sub>4</sub> +</label>
                            <input type="text" class="form-control" name="coefficient-4" id="coefficient-4">
                            <label for="coefficient-4" class="mx-1">X<sub>5</sub></label>#}
                        </div>
                        <p class="card-text my-3">Ingrese las funciones restricción</p>
                        <div id="restriction-div" class="mb-5">
                            {#<div class="input-group">
                                <input type="text" class="form-control" name="restriction-0" id="restriction-0">
                                <label for="restriction-0" class="mx-1">X<sub>1</sub> +</label>
                                <input type="text" class="form-control" name="restriction-1" id="restriction-1">
                                <label for="restriction-1" class="mx-1">X<sub>2</sub> +</label>
                                <input type="text" class="form-control" name="restriction-2" id="restriction-2">
                                <label for="restriction-2" class="mx-1">X<sub>3</sub> +</label>
                                <input type="text" class="form-control" name="restriction-3" id="restriction-3">
                                <label for="restriction-3" class="mx-1">X<sub>4</sub> +</label>
                                <input type="text" class="form-control" name="restriction-4" id="restriction-4">
                                <label for="restriction-4" class="mx-1">X<sub>5</sub></label>
                                <select id="restriction-sign" class="mr-2" style="width: 45px !important;">
                                    <option value="1" selected="">≤</option>
                                    <option value="2">≥</option>
                                    <option value="3">=</option>
                                </select>
                                <input type="text" class="form-control" name="restriction-5" id="restriction-5">
                            </div>#}
                        </div>
                        <p class="text-center" id="non-negative-variables"></p>
                        <button type="button" id="btn_send"
                                class="btn btn-outline-success rounded-pill m-auto d-block px-4">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Enviando la info</h5>
                        <p class="card-text">Ingrese los coeficientes de la función objetivo</p>
                        {#<form method="post">
                            {{ csrf_token }}
                        </form>#}
                        {#<button type="button" id="send"
                                class="btn btn-outline-success rounded-pill m-auto d-block px-4">
                            Enviar
                        </button>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h5>Desarrolladores</h5>
                <p class="m-0">Luis Guillermo Gómez Galeano</p>
                <p>Email: luis.gomez@usantoto.edu.co</p>
                <p class="m-0">Oscar Javier Gómez Sánchez</p>
                <p class="m-0">Email: oscar.gomezs@usantoto.edu.co</p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="row">
            <div class="col-12">
                <small class="d-block text-center">© 2020 SimplexCalc Colombia. Todos los derechos reservados</small>
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/src/main.js') }}"></script>
{#<script src="{{ url_for('static', filename='js/src/ajax.js') }}"></script>#}
</body>
</html>