/**
    Website styles, 2020

    Author: Luis Guillermo Gómez Galeano <luis.gomez@usantooto.edu.co>
    Author: Oscar Javier Gómez Sanchez <oscar.gomezs@usantooto.edu.co>
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

/* Variables */
:root {
    --main-color: #f8234a;
    --main-bg-color: rgba(0, 0, 0, 0.8);
    --main-font-color: #0e1b4d;
}

body {
    background: #fff;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
}

a {
    color: var(--main-color);
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: var(--main-color);
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: var(--main-font-color);
}

/* Bootstrap Badge */
.badge.badge-custom-primary {
    border: 2px solid var(--main-font-color);
    color: var(--main-font-color);
}

/* Estilos de validación de formularios */
label.label-validate {
    font-size: .8em !important;
    margin: 0;
}

/* Estilos del sitio */

#main-header nav {
    background: var(--main-bg-color);
}

.main-page {
    margin-top: 70px;
}

.main-title {
    color: var(--main-color);
    font-weight: bold;
}

.bg-main-title {
    background: var(--main-bg-color);
}

.bg-main-title h1 {
    color: #fff;
    font-weight: bold;
}

.results-content input[type="submit"],
.btn-custom-primary {
    color: var(--main-color);
    background: none;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid var(--main-color);
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}

.results-content input[type="submit"]:hover,
.btn-custom-primary:hover {
    background: var(--main-color);
    color: #fff;
}

/* Footer */
.site-footer {
    background: var(--main-bg-color);
}

.site-footer a {
    color: #fdc134;
}